#demoimg {
    display: none;
    height: 300px;
    width: 300px;
}

@media screen and (orientation: landscape) and (min-width: 300px) {
    #demoimg{
        display: block;
        }
}

img {
    height: 100%;
}

#text1 {
    display: none;
}

@media screen and (device-aspect-ratio: 4/3) {
    #text1{
        display: block;
        }
}

img {
    height: 100%;
}

#demovid{
    display: block;
}

@media screen and (-webkit-min-device-pixel-ratio: 1) and (max-resolution: 90dpi) { 
    #demovid{
        display: block;
        }
}
